.header {
    margin-top: 10px;
  }
.header__content {
    max-width: 1015px;
    height: 60px;
    background-color: black;
}
.header img {
    margin-top: 10px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    border-radius: 35%;
}